img {
    width: 100%;
}

body {
    font-family: Hind; sans-serif;
}

header, main, footer {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 15px
}

.logo{
max-width: 250px;    

}

.topic-button{
    background-color: #211c51;
    color: white;
    height: 40px;
    width: 275px;
    border-radius: 15px;
    margin-bottom: 10px;
    border: solid 3px #384a9f;
    font-size: 13px;
    font-weight: 300;
     margin-right: 7px;
}

.topic-button:hover{
    background: #384a9f;
    text-decoration: none;
    
    
}

/*Top Nav*/

.settings {
    width: 90%;
    clear: both;
    margin:15px 15px 0;
    display:flex;
    justify-content: flex-end;
}

.settings li {
   border:2px solid #211c51;
   float:left;
   overflow:hidden;
    font-size: .7em;
    font-weight:bold:

}
li.first{
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
}
li.last{
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
}
.settings li a {
    text-decoration:none;
    padding:7px 0;
    width:15vw;
    max-width: 100px;
    background-color:white;
    color:navy;
    float:left;
    text-align:center;
    font-weight: bold;


}

.settings li a:hover {
background-color:rgba(0, 0, 255, 0.2);
}

/* meat body*/
.meat {
    display: flex;
}
.nav-container{
    margin-right: 20px;
    z-index: 10;
    transition: right 0.3s; 
}

.nav {
    background: #f47b24;
    border-radius: 15px;
    padding: 15px;
    border: 3px solid #f7924d;
    color:white;
  
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    
}

.nav a:hover {
    color: #f9ba8f;
   
    
}

.nav-btn{
    display: none;
    
}

div.nav {
    display: inline-table;
}
div p {
    margin: 2px 0;
}
    /* Nav*/
    
#links {
        
        display:none;
    }

.clippings {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}


/*footer*/

.footer-links{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    flex-wrap:wrap;
}

.footer-links a {
    color:navy;
    text-decoration: none;
    font-weight: bold;
    font-size: .7em;
    padding: 0 10px 5px;
}

.footer-links a:hover{
    color:#384a9f;
}

.copyright{
    font-size: .5em;
    display: flex;
    justify-content: center;
}


.subtopics{
    color:#211c51;
    display: flex;
    transition: max-height .7s;
    overflow: hidden;
    max-height: 1500px;
     justify-content: space-around;
}
.subtopics p:hover{
    color:#90A3FF;
    cursor: pointer;
}

.subtopics.closed {
    max-height:0;
}

/*contact page css*/
.input-group[class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
    }


.backhome{
    color:white;
    vertical-align: middle;
    background-color: #f47b24;
    text-align: center;
    height: 40px;
    width: 275px;
    border-radius: 15px;
    margin-bottom: 15px;
    border: solid 3px #f7924d;
    font-family: Hind, sans-serif;
    font-size: 15px;

}
 
.backhome a {
    color:white;
    text-decoration: none;

    
}

.backhome:hover{
    color:#f9ba8f;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
}


/*events css*/

.pages span{
    margin:7px;
    color:white;
    background-color: #211c51;
    border-radius: 20px;
    padding: 0 20px;
    cursor:pointer;
    border: 2px solid #384a9f;
    
}
.pages{
    margin:10px;
    
    
}

.event-date{
    padding-right: 10px;
    font-weight: bold;
    
}
/*media queries*/
@media screen and (max-width: 800px){
    .clippings{
        flex-wrap: wrap;
        
    }
    .settings{
        margin: 0 auto;
        
    }
}

@media screen and (max-width: 450px){
    .clippings{
        flex-wrap: wrap;
        
    }
    
    .logo{
        margin: 0 auto;
    }
    
    /*inspired by https://github.com/benwiley4000/dsn-zine-resistance/blob/master/src/css/main.css#L130 */
    .nav-container{
        position: fixed;
        z-index: 10;
        left: -93px;
        transition: left 0.3s;
        top:0;

    } 
    
    .nav{
        float:left;
        border-radius: initial;
        height: 100vh;
    }
    
    .nav-btn{
        float: left;
        display: initial;
        font-size: 35px;
        padding: 0 13px;
        color: #f7924d;
        background-color: #fff;
        border-radius: 0px 20px 20px 5px;
        border: 2px solid #f7924d;

    }
    
    .nav-btn::after{
        content: '\2630';
        
    }
    .nav-container.open {
        left: 0;
    }

    .contents-menu-icon {
        color: #fff;
        background-color: #333;
        float: left;
        font-size: 30px;
        padding: 0 7px;
        cursor: pointer;
    }

    .contents-menu-icon::after {
        content: '\2630';
    }

}
 
