img {
    width: 100%;
}

body {
    font-family: Hind; sans-serif;
}

header, main, footer {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 15px
}

.logo{
max-width: 250px;    

}

.topic-button{
    background-color: #211c51;
    color: white;
    height: 40px;
    width: 205px;
    border-radius: 15px;
    margin-bottom: 10px;
    border: solid 3px #384a9f;
    font-size: 13px;
    font-weight: 300;
}

.topic-button:hover{
    background: #384a9f;
    text-decoration: none;
    
    
}

/*Top Nav*/

.settings {
width: 90%;
clear: both;
margin:15px 15px 0;
display:flex;
justify-content: flex-end;
}

.settings li {
   border:2px solid #211c51;
   float:left;
   overflow:hidden;
    font-size: .7em;
    font-weight:bold:

}
li.first{
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
}
li.last{
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
}
.settings li a {
text-decoration:none;
padding:7px 0;
width:100px;
background-color:white;
color:navy;
float:left;
text-align:center;
font-weight: bold;


}

.settings li a:hover {
background-color:rgba(0, 0, 255, 0.2);
}

/* meat body*/
.meat {
    display: flex;
}

.nav {
    background: #f47b24;
    border-radius: 15px;
    padding: 15px;
    border: 3px solid #f7924d;
    margin-right: 20px;
    color:white;
  
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    
}

.nav a:hover {
    color: #f9ba8f;
   
    
}
div.nav {
    display: inline-table;
}
    /* Nav*/
    
#links {
        
        display:none;
    }

.clippings {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}


/*footer*/

.footer-links{
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.footer-links a {
    color:navy;
    text-decoration: none;
    font-weight: bold;
    font-size: .7em;
    
    
    
}

.footer-links a:hover{
    color:#384a9f;
 
    
    
}

.copyright{
    font-size: .5em;
    display: flex;
    justify-content: center;
}


.subtopics{
    color:#211c51;
    display: flex;
    transition: max-height 1s;
    overflow: hidden;
    max-height: 1500px;
     justify-content: space-around;
}
.subtopics p:hover{
    color:#90A3FF;
    cursor: pointer;
}

.closed {
    max-height:0;
    
}